* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

.product-upper-content {
    display: flex;
}

.product-upper-content .product-banner {
    width: 66%;
    height: 450px;
    background-color: white;
    margin-right: 5px;
}

.product-upper-content .products {
    width: 34%;
    height: 450px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
}

.product-upper-content .products .product {
    width: 100%;
    min-height: 49%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.product-upper-content .products .product img {
    width: 100%;
    min-height: 100%;
}


.product-banner {
    overflow: hidden;
    position: relative;
}

.product-banner .product-list-banner img {
    width: 100%;
    height: 450px;
    cursor: pointer;
}

.product-list-banner {
    display: flex;
    transition: 0.5s;
}

.product-banner .product-btn {
    font-size: 45px;
    color: #c7c7c7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-inline: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.product-banner .product-btn:hover {
    color: #ffffff;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.product-index-banners {
    position: absolute;
    bottom: 5px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.index-item {
    border: 2px solid #ffffff;
    background-color: white;
    width: 20px;
    margin: 3px;
}

.active {
    border: 2px solid red;
}