.footer-container {
    color: #313638;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px 5%;
}

.row {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.column h2 {
    font-size: 16px;

}

.footer-subtitle {
    margin-top: 50px;
}

.column p {
    font-size: 14px;
    line-height: 25px;
}

.column p:hover {}

.icon-media {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon-media img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.column .footer-subtext {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
    cursor: pointer;
}

.column .footer-subtext:hover {
    color: rgb(236, 41, 15);
}

.column .footer-subtitle {
    font-size: 16px;
    margin-bottom: 7px;
}

.footer-horizontal-line {
    border: 1px solid rgb(255, 0, 0);
    width: 5em;
}

.footer-title {
    display: flex;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-title img {
    width: 40px;
    margin-right: 10px;
}