* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

nav {
    color: #313638;
    font-size: 14px;
    margin: 0;
    width: 100%;
    height: 5em;
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0px;
}

.left-content {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
}

.left-content .logo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.left-content ul {
    list-style: none;
    width: 100%;
}


.dropbtn {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #313638;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.dropbtn img {
    width: 13px;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    color: #313638;
}

.dropdown-content a:hover {
    background-color: rgb(236, 236, 236);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(236, 236, 236);
}

.search-group {
    display: flex;
    width: 50em;
    background: #fff;
    border-radius: 5px;
}

.search-group input {
    border: 0;
    outline: 0;
    width: 560px;
    background: #f1ecec;
    border-radius: 2px;
    padding: 10px;
}

.search-group input:focus {
    background: #dbd5d5;
    outline: 2px solid rgb(115, 166, 233);
}


.search-group .btn-search {
    padding: 10px;
    border-radius: 3px;
    margin-left: -3px;
    border: none;
    background: #d15493;
    cursor: pointer;
}

.search-group .btn-search:hover,
.search-group .btn-search:hover a {
    background: #b13472;
}


.search-group .btn-search img {
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(350deg) brightness(109%) contrast(105%);
}

.search-group .btn-search a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5em;
    cursor: pointer;
}

.logo-name {
    font-weight: 600;
    color: #313638;
}

.logo-name strong {
    background-image: linear-gradient(orange, purple);
    color: transparent;
    background-clip: text;
    font-size: 16px;
    margin: 0;
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.right-content ul {
    list-style: none;
    width: 100%;
    text-align: right;
}


.right-content ul li a img {
    width: 20px;
    margin-right: 5px;
}

.right-content ul li a {
    color: #313638;
    text-decoration: none;
}

.right-content a .btn {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px;
    width: 120px;
    font-size: 16px;
    border: solid 1px #313638;
    color: #313638;
    outline: 0;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.right-content a {
    text-decoration: none;
}

.btn .product-added {
    position: absolute;
    padding: 2% 5%;
    border-radius: 50%;
    background-color: #d15493;
    font-size: 10px;
    top: 0;
    left: 20px;
    color: #fff;
}

a .btn:hover {
    background-color: rgb(175, 175, 175);
}


a .btn img {
    width: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .dropbtn-text {
        display: none;
    }

    .search-group input {
        margin-left: 50px;
        width: 260px;
    }
}