* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(247, 84, 19, 0.6), rgba(134, 24, 236, 0.5)), url(../img/backgroud-homepage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}

.text {
    text-align: center;
    font-size: 90px;
    margin-top: 50px;
    font-weight: 500;
    background-image: linear-gradient(orange, purple);
    color: transparent;
    background-clip: text;
}

.advertise-container {
    margin-top: 40px;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(42deg, #524bff, #a35fc1, #c77683, #db903d);
    background-size: cover;
    background-position: center;
    padding: 2px 4%;
    display: flex;
    gap: 0px;
    align-items: center;
}


.advertise-content {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
    border-radius: 8px;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 0px;
}


.advertise-content .left-content {
    display: inline;
    padding: 0;
    margin-left: 30px;
    border: 0;
    max-width: 70%;
}

.advertise-content .left-content img {
    width: 600px;
}

.advertise-content .left-content p {
    position: absolute;
    font-weight: 600;
    text-shadow: 1px 1px #d15493;
    margin-top: -100px;
    margin-left: 150px;
}

.advertise-content .right-content {
    display: inline;
    margin: auto;
    height: 40%;
    max-width: 50%;
    text-align: justify;
    color: #141414;
}

.advertise-content .right-content .advertise-title {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 15px;
}

.advertise-content .right-content .advertise-cost {
    display: flex;
    justify-content: start;
    text-align: center;
}

.advertise-content .right-content .advertise-cost .discount-cost {
    font-size: 30px;
    margin-bottom: 15px;
    color: #000;
    text-shadow: 3px 3px #d15493;
}

.advertise-content .right-content .advertise-cost .real-cost {
    font-size: 19px;
    color: gray;
    text-decoration: line-through;
    margin-top: 9px;
    margin-left: 10px;
}

.advertise-content .right-content .advertise-cost .discount-percent {
    font-size: 15px;
    margin-top: 9px;
    margin-left: 5px;
    color: rgb(255, 0, 0);
}

.advertise-content .right-content .advertise-subtitle {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
}



.advertise-content .right-content .btn-advertise {
    margin-top: 1px;
    color: #fff;
    cursor: pointer;
    padding: 7px 9px;
    border-radius: 3px;
    border: none;
    background: #d15493;
    font-size: 20px;
    font-weight: 600;
}


.container .content .title {
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.container .content .group-btn {
    max-width: fit-content;
    margin-inline: auto;
    margin-top: 5px;
}

.container .content .group-btn .btn-homepage {
    background: none;
    color: white;
    border-radius: 25px;
    padding: 5px 10px;
    border: solid 3px white;
    cursor: pointer;
    font-size: 50px;
}

.container .content .group-btn .btn-homepage:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.container .content .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    font-size: 150px;
    color: rgb(241, 238, 233);
}