* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

.product-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px 5%;
    background-image: linear-gradient(42deg, #524bff, #a35fc1, #c77683, #db903d);
    background-size: cover;
    background-position: center;
}

.product-container .navigation-bar {
    color: rgb(219, 219, 219);
}

.product-container .navigation-bar .navigate-btn-group {
    width: 90%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}

.product-container .navigation-bar .navigate-btn-group a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.product-container .navigation-bar .navigate-btn-group a:hover {
    color: rgb(236, 41, 15);
}

.product-content {
    height: fit-content;
    margin: auto;
    display: flex;
    gap: 10px;
}

.banner-advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-left-content {
    width: 15%;
    background-color: white;
    height: 450px;
    border-radius: 5px;
}

.product-left-content ul li {
    color: #313638;
    padding: 3%;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}

.product-left-content ul li img {
    width: 20px;
    margin-right: 15px;
}

.product-left-content ul li:hover {
    font-weight: 600;
    background-color: rgb(236, 236, 236);
}

.product-right-content {
    width: 85%;
    height: 100%;
}

.product-upper-content {
    display: flex;
    gap: 10px;
}

.product-upper-content .product-banner {
    height: 450px;
    width: 66%;
    background-color: white;
}

.product-banner {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.product-banner .product-list-banner img {
    width: 100%;
    cursor: pointer;

}

.product-list-banner {
    display: flex;
    transition: 0.5s;
}

.product-banner .product-btn {
    font-size: 50px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-inline: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.product-banner .product-btn:hover {
    color: rgb(236, 236, 236);
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.product-index-banners {
    position: absolute;
    bottom: 5px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.index-item {
    border: 2px solid #ffffff;
    background-color: white;
    width: 20px;
    margin: 3px;
}

.active {
    border: 2px solid red;
}

.product-upper-content .products {
    height: 450px;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.product-upper-content .products .product {
    height: 49%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.product-upper-content .products .product img {
    width: 100%;
    min-height: 100%;
    border-radius: 5px;
}

.product-under-content {
    margin-top: 10px;
}

.product-under-content .products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-under-content .products img {
    width: 98%;
    border-radius: 5px;
}

.product-content-2 {
    margin-top: 30px;
}

.advertise-content {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
    border-radius: 8px;
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 2%;
}


.advertise-content .left-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.advertise-content .left-content img {
    width: 100%;
}

.advertise-content .left-content p {
    font-weight: 600;
    text-shadow: 1px 1px #d15493;
}

.advertise-content .right-content {
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    gap: 10px;
    margin: auto;
    width: 60%;
    color: #313638;
    padding: 2%;
    text-align: justify;
}

.advertise-content .right-content .advertise-title {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #313638;
}

.advertise-content .right-content .advertise-cost {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.advertise-content .right-content .advertise-cost .discount-cost {
    font-size: 28px;
    color: #313638;
    text-shadow: 3px 3px #d15493;
}

.advertise-content .right-content .advertise-cost .real-cost {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;

}

.advertise-content .right-content .advertise-cost .discount-percent {
    font-size: 14px;
    color: rgb(255, 0, 0);
}

.advertise-content .right-content .advertise-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #313638;
}

.advertise-content .right-content .btn-advertise {
    margin-top: 1px;
    color: #ffffff;
    cursor: pointer;
    padding: 7px 9px;
    border-radius: 3px;
    border: none;
    background: #d15493;
    font-size: 28px;
    font-weight: 600;
}

.product-content-3 {
    margin-top: 30px;
}

.product-content-3 .title,
.product-content-2 .title {
    width: 100%;
    font-size: 42px;
    margin-bottom: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-shadow: 5px 5px #54d1d1;
    text-align: center;
}


.product-content-3 .title hr,
.product-content-2 .title hr {
    width: 30%;
    border: none;
    height: 4px;
    background-color: #ffffff;

}


.list-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-content-3 .product {
    width: 25%;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}


.product-content-3 .product img {
    width: 100%;
}

.product-content-3 .product .product-title {
    text-align: center;
    font-size: 16px;
    color: #313638;
}

.product-content-3 .product .product-price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content-3 .product .product-price .original-price {
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
    margin-left: 5px;
}

.product-content-3 .product .product-price .discount-price {
    font-size: 16px;
    color: #313638;
    text-shadow: 2px 2px #d15493;
}

.mt-20 {
    margin-top: 20px;
}