* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

.product-container {
    width: 100%;
    min-height: 100vh;
    padding: 30px 0;
    background-image: linear-gradient(42deg, #524bff, #a35fc1, #c77683, #db903d);
    background-size: cover;
    background-position: center;
}

.product-container .navigation-bar {
    padding: 1%;
    color: rgb(219, 219, 219);
}

.product-container .navigation-bar .navigate-btn-group {
    width: 90%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}

.product-container .navigation-bar .navigate-btn-group a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.product-container .navigation-bar .navigate-btn-group a:hover {
    color: rgb(236, 41, 15);
}

.product-content {
    width: 90%;
    height: fit-content;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 1%;
}

.banner-advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-advertisement img {
    width: 88%;
}

.product-left-content {
    width: 20%;
    padding: 1%;
    background-color: white;
    height: 450px;
    border-radius: 5px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}

.product-left-content ul li {
    border-bottom: 1px rgb(212, 212, 212) solid;
    padding: 3% 1%;
    color: rgb(112, 112, 112);
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.product-left-content ul li img {
    width: 20px;
    margin-right: 15px;
}

.product-left-content ul li:hover {
    font-weight: 600;
    background-color: rgb(214, 214, 214);
}

.product-right-content {
    width: 80%;
    height: fit-content;
}

.product-content-2 {
    width: 90%;
    margin: auto;
    padding: 1%;
}

.list-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-content-2 .product {
    width: 25%;
    height: 380px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}

.product-content-2 .title {
    width: 100%;
    margin-bottom: 12px;
    font-size: 50px;
    color: #fff;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-shadow: 5px 5px #54d1d1;
}

.product-content-2 .title hr {
    width: 30%;
    text-align: center;
    border: none;
    height: 4px;
    margin-inline: 30px;
    background-color: #ffffff;

}

.product-content-2 .product img {
    width: 100%;
}

.product-content-2 .product .product-title {
    text-align: center;
    margin-top: -25px;
}

.product-content-2 .product .product-price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content-2 .product .product-price .original-price {
    font-size: 13px;
    color: rgb(92, 92, 92);
    text-decoration: line-through;
    margin-left: 5px;
}

.product-content-2 .product .product-price .discount-price {
    font-size: 20px;
    color: red;
}

.mt-20 {
    margin-top: 20px;
}